{% extends 'task/base.html' %}
{% block title %} Confirm Delete Task {% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
                <div class="col-md-5 m-2">                    
                    <div class="card m-1 p-6 border border-primary shadow-sm">
                        <div class="card-body">
                            <h5 class="text-2xl font-bold text-center text-blue-600 mb-4"> Delete Task</h5>
                            <form method="post">{% csrf_token %}
                                <p>Are you sure you want to delete "{{ object }}"?</p>
                                {{ form }}
                                <input class="btn btn-primary shadow-sm mt-2 px-4 py-2 bg-blue-600 text-white rounded-md cursor-pointer" type="submit" value="Confirm">

       
                            </form>
                            <br>
                            <a class="btn btn-primary shadow-sm mt-2 px-4 py-2 bg-gray-600 text-white rounded-md cursor-pointer" onclick="history.go(-1)">Go back</a>


                        </div> <!-- card body -->
                    </div> <!-- card -->
                 </div> <!-- col-md-5 -->              



    </div> <!-- row -->


</div>  <!-- container -->

{% endblock %}