{% extends 'task/base.html' %}
{% block title %} Update Task {% endblock %}

{% block content %}

{% load custom_filters %}

<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-4">
        <div class="bg-white border border-primary shadow-sm rounded-lg">
            <div class="p-6">
                <h5 class="text-2xl font-bold text-center text-blue-600 mb-4">Update Profile</h5>
                <hr class="mb-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <label class="block font-bold text-blue-500 mb-2">{{ field.label }}</label>
                        <div class="mb-4">
                            {{ field|add_class:"form-control shadow-sm mt-2" }}
                            <p id="val{{ forloop.counter }}"></p>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary shadow-sm mt-2 px-4 py-2 bg-blue-600 text-white rounded-md cursor-pointer" type="submit" value="Save">

                </form>
                <br>
                <a class="btn btn-primary shadow-sm mt-2 px-4 py-2 bg-gray-600 text-white rounded-md cursor-pointer" onclick="history.go(-1)">Go back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
